<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<!-- <meta charset="ISO-8859-1"> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Liens CSS, un pour Eclipse, un pour thymeleaf -->
<link rel="stylesheet" href="../static/CSS/bootstrap.min.css"
	th:href="@{CSS/bootstrap.min.css}">

<title>Saisir un article</title>
</head>

<body>
	<div layout:fragment="content">
		<form th:action="@{/save}" method="post">
			<h2 class="">Saisir un nouvel article :</h2>

			<div class="container add-article">
				<div class="form-floating mb-3">
					<input class="form-control" id="floatingDesc" type="text" name="description" th:value="${article.description}">
					<label for="floatingDesc">Description :</label> 
					<div class="alert alert-warning" role="alert" th:errors="${article.description}"></div>
				</div>
	
				<div class="form-floating mb-3">
					<input class="form-control" id="floatingPrice" type="number" name="price" th:value="${article.price}">
					<label for="floatingPrice">Price :</label> 
					<div class="alert alert-warning" role="alert" th:errors="${article.price}"></div>
				</div>
				
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
			
		</form>

	</div>
</body>
</html>