.nav-bg{
	background-color: #00205b;
}

a.nav-link, a.navbar-brand {
		color : white !important;
}

a.navbar-brand{
	font-weight: bold;
	margin: 20px;
}

nav{
	height: 70px;
}

.btn-search{
	background-color: #00205b !important;
	color: white !important;
}


.table{
	border: 1px solid black;
}

.add-article{
	width : 45rem !important;
}

li{
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

ul{
	margin: 0 !important;
	padding: 10px !important;
}